    <div class="mat-subheading-4 titulo">{{titulo}}</div> 
    
        <div *ngIf="tipo==1">
            <mat-accordion *ngIf="arrayTamanos else loading">
            
                <mat-expansion-panel *ngFor="let tam of arrayTamanos" (opened)="true">
                    <mat-expansion-panel-header>
                        <mat-checkbox>{{tam.titulo}}</mat-checkbox>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <ng-template matExpansionPanelContent>
                    <p>Contenindo</p>
                </ng-template>
            </mat-accordion>
        </div>
        
    
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
    
   
