<div fxLayout="row" fxLayoutAlign="space-between">
        <mat-toolbar>
            <mat-toolbar-row fxLayoutGap="2vw">
                <a mat-button href="" target="_blank">Cómo funciona?</a> 
                <a mat-button href="" target="_blank">Cuanto cuesta?</a>
                <a mat-button href="" target="_blank">Ventajas para mi Cliente</a> 
                <button mat-raised-button (click)="registrarme()" color="primary">Registrarme</button>
                <button mat-raised-button (click)="login()" color="accent">Ingresar</button>
            </mat-toolbar-row>
        </mat-toolbar>
    
</div>
<div class="jumbotron_section" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex fxFlexAlign="center">
        <mat-card class="jumbotron mat-elevation-z4" >
            <h3>MenuDigital es una herramienta para locales Gastronóminos, les permite crear sus Menús en forma Digital y mejorar la experiencia del cliente</h3>
        </mat-card>
    </div>
</div>
