@import '../../../styles/colors.scss';

*,*::after,*::before{
    box-sizing: border-box;
}

.page{
    background-image: url('../../../../assets/imagenes/background_image_landing_page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100%;
}

.container{
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 3.5%;

}

//**********************Toolbar**********************************//
mat-toolbar{
    background-color: transparent;

}

mat-toolbar mat-toolbar-row{

    padding: 0;
    margin: 0;
    color: white;
    
}

.links_headers1{
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    padding-right: 3.5%;
    padding-left: 3.5%;
    font-size: 1em;
}


.links_headers2{
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-size: 1em;
}

.links_headers2_md{
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    text-align: end;
    font-size: 1em;
}

.logo_container{
    padding: 0;

}
.logo_img{
    padding: 0;
    margin: 0;
}

.logo_img_md{
    width: 54%;
}

.img_container{
    padding: 0;
    
   
}

//************************h1************************//


.header_h1{
    width: 100vw;
    color: white;
    font-size: clamp(1.5em, 4vw, 8em);
    margin-top: 3vh;
}


@keyframes content_propuestaValor_animation{
    from{background-color: transparent;}
    to{background-color:rgba(255, 255, 255, 0.356);}
}

.content_propuestaValor{
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 3px;
    background-color: transparent;
    animation-name: content_propuestaValor_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.content_landing{
    margin-top: 10vh;
}

.h3_propuestaValor1{
    width: 40vw;
    color: white;
    font-size: clamp(1em, 2.5vw, 4em);
    
    
}

.h3_propuestaValor1_md{
    width: 100%;
    color: white;
    font-size: clamp(1em, 2.5vw, 4em);
  
}


.h3_propuestaValor2{
    width: 45vw;
    color: white;
    margin-top: 3vh;
    font-size: clamp(1em, 2.5vw, 4em);
}


.h3_propuestaValor2_md{
    width: 100%;
    margin-top: 3vh;
    font-size: clamp(1em, 2.5vw, 4em);
}

.h3_propuestaValor2 a{
    color: white;
    font-size: clamp(1em, 2.5vw, 4em);
    
    
    
}

.h3_propuestaValor2-a{
    color: white;
    font-size: clamp(1em, 2.5vw, 4em);
    
    
    
}


.content_cta_button{
    margin: auto;
    padding-left: 3vw;
    margin-top: 10vh;
    
}

.content_cta_button_mt{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10vh;
    
}
.cta_button{
  width: 100%;
  height: 10vh;
  background-color: $menuDigital-secondary;
  color: white;
  font-size: clamp(1em, 3vw, 4em);
  letter-spacing: 0;
}

.cta_button_mt{
    font-size: clamp(1em, 3vw, 4em);
}

