<div class="page">
    <div class="container"> 
        <mat-toolbar>
            <mat-toolbar-row fxLayout="row" class="toolbar_container" fxLayoutAlign="start">
                <div fxFlex="2 1 auto" class="logo_container">
                    <img  fxFlex class="logo_img" src="../../../../assets/imagenes/logo.png">
                </div>
                
                <div fxFlex="1 2 auto" class="links_headers1">
                    <a mat-button href="" target="_self">Cómo funciona?</a> 
                    <a mat-button href="" target="_self">Cuánto cuesta?</a>
                    <a mat-button href="" target="_self">Nosotros</a> 
                </div>
                <div fxFlex="1 1 auto" class="links_headers2">
                    <a mat-button href=""  (click)="registrarme()">Registrarme</a> 
                    <a mat-button href=""  (click)="login()">Ingresar</a>
                </div>
                
            </mat-toolbar-row>
        </mat-toolbar>
        
    </div>
</div>
