*,*::after,*::before{
    box-sizing: border-box;
}

.page{
    background-image: url('../../../../assets/imagenes/background_image_landing_page.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container{
    padding: 0;
    padding-left: 7.5%;
}

mat-toolbar{
    background-color: transparent;

}

mat-toolbar mat-toolbar-row{

    padding: 0;
    margin: 0;
    color: white;
    
}

.links_headers1{
    padding: 0;
    margin: 0;
   
}


.links_headers2{
    padding: 0;
    margin: 0;
   
}

.logo_container{
    padding: 0;

}
.logo_img{
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
}

.img_container{
    padding: 0;
    
   
}

