.file-input{
    display: none;
}

.file-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin: auto;
    border: 2px solid lightgray;
    //background: linear-gradient(
    //    rgba(0, 0, 0, 0.3), 
    //    rgba(0, 0, 0, 0.3)
    //  ),
    //  url('../../../assets/imagenes/squares1.jpg');
}

img{
    width: 250px;
    height: 250px;
}
button{
    border: 2px solid white;
    color: white;
    background-color: grey;
}