<div *ngIf="showNombre">
    <div class=action_header>
        <app-actions-header [showReturn]=false (closeEvent)="closeNombreMenuItemEvent()"></app-actions-header>
    </div>
    <app-dialog-header [titulo]="tituloNombreMenuItem" [subtitulo]="subtituloNombreMenuItem"></app-dialog-header>
    <!--div class="mat-headline">{{tituloNombreMenuItem}}</div>
    <div-- class="mat-h3">{{subtituloNombreMenuItem}}</div-->
    <mat-form-field class="full_width nombre_field" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="nombre">
        <mat-hint>Cúal es el nombre de éste Menú-Item</mat-hint>
    </mat-form-field>
    <!--mat-radio-button class="bebida_radioButton" value=true [formControl]="bebida">Es una bebida</!--mat-radio-button-->
    <button mat-raised-button [disabled]="!nombre.valid" class="boton_siguiente" (click)="boton_siguiente()">Siguiente<mat-icon class="icon_next">arrow_forward_ios</mat-icon></button>
    
</div>

<div *ngIf="showPropiedades">
    <app-propiedades-menu-item [nombre]="nombre.value" [seccion]="thisseccion.titulo" (selectionQuestions)="questionsSelectedCall($event)"></app-propiedades-menu-item>
</div>

<div *ngIf="showListaTamanos">
    <app-list-propiedad [nombreMenuItem]="nombre.value" [seccion]="thisseccion.titulo" [tipo]=1 [arrayTamano]="thismenuitem.tamanos" (nuevaPropiedadEvent)="nuevoTamanoEvent()"></app-list-propiedad>
    
</div>

<div *ngIf="showNuevoTamano">
    <app-nuevo-tamano [seccion]="thisseccion.titulo" [nombre]="nombre.value" [tipo]="tipoDeWizard" (crearTamano)="crearTamano($event)" ></app-nuevo-tamano>
</div>