@import '../../../../styles/colors.scss' ;

.full_width{
    width: 100%;
    
}

.nombre_field{
    margin-bottom: 24px;
    margin-bottom: 24px;
}

.bebida_radioButton{
    margin-top: 24px;
    margin-bottom: 24px;
}

.boton_siguiente{
    background-color: $menuDigital-secondary;
    display: block;
    margin: auto;
    color: white;
    width: 203px;
    height: 60px;
    font-size: 24px;
    margin-top: 24px;
}