<app-layout [sideBarLinks]="getSideBarLinks() | async">
    <div class="container">
        <h2>En esta sección configuras tu MenuDigital</h2>
        <div class="top_actions">
            <button (click)="nuevoMenuItem()" mat-raised-button color="accent">Nuevo Menu Item</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" class="titulo">
          <img mat-card-avatar src="{{iconoPromociones$ | async}}">
          <h3>Promociones</h3>
        </div>
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="row" fxLayoutGap="20px">
            <div fxFlex="33%" fxFlex.sm="50%" *ngFor="let promocion of promociones$ | async">
                <mat-card class="mat-elevation-z4" >
                  <mat-card-actions class="pull-right">
                    <button mat-icon-button aria-label="Ejemplo de boton con icono">
                      <mat-icon (click)="eliminar_menuItem(promocion)" aria-label="Icono para eliminar">delete_forever</mat-icon>
                    </button>
                  </mat-card-actions>  
                  <mat-card-header>
                      <mat-card-title>{{promocion.nombre}}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image class="img_card" src="{{promocion.iconUrl}}">
                    <mat-card-content>
                      <p>
                        {{promocion.descripcion}}
                      </p>
                    </mat-card-content>
                    <mat-card-content fxLayout="column">
                        <mat-label fxFlex="100%">Precio normal:</mat-label>
                        <div fxFlex="100%">
                          <input matInput value="{{promocion.precioAnterior.toLocaleString('es-PY')}}" disabled type="text">
                          <span matPrefix>&#8370;</span>
                        </div>
                      <mat-label fxFlex="100%">Precio con promoción:</mat-label>
                      <div fxFlex="100%">
                        <input matInput value="{{promocion.precioActual.toLocaleString('es-PY')}}" disabled type="text">
                        <span matPrefix>&#8370;</span>
                      </div>
                      <mat-label fxFlex="100%">Descuento:</mat-label>
                      <div fxFlex="100%">
                        <input matInput value="{{promocion.descuento.toLocaleString('es-PY')}}" disabled type="text">
                        <span matSuffix>%</span>
                      </div>  
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-icon-button aria-label="Boton para compartir este Menu Item">
                        <mat-icon (click)="compartir(promocion)" aria-label="Icono para compartir">share</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card>
            </div>

        </div>
    </div>
</app-layout>