.container{
    width: 100%;
    padding: 10px;
}
.top_actions{
    margin-bottom: 30px;
}
.titulo{
    margin-bottom: 30px;
}
.img_card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40vh;
}

