<button class="close" mat-button (click)="onNoClick()">X</button>
<form class="form" [formGroup]="form" (ngSubmit)="sign()">
  <h4 class="header_login">Registrate!</h4>
    <mat-form-field class="input_field" appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input type="text" autocomplete="off" matInput placeholder="Nombre completo" formControlName="name">
    </mat-form-field>
  
    <mat-form-field class="input_field" appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Dirección de correo" type="email" autocomplete="off" formControlName="email">
    </mat-form-field>
  
    <mat-form-field class="input_field" appearance="outline">
      <mat-label>Clave</mat-label>
      <input matInput placeholder="Clave de acceso" type="password" autocomplete="off" formControlName="password">
    </mat-form-field>

    <mat-form-field class="input_field" appearance="outline">
      <mat-label>Repetir la clave</mat-label>
      <input matInput placeholder="Repite tu clave de acceso" type="password" autocomplete="off" formControlName="repassword">
    </mat-form-field>
  
    <div class="form-actions">
      <button class="form-actions__create" mat-raised-button color="primary" type="submit">Crea tu cuenta</button>
    </div>
</form>
  
