@import '../../../styles/colors.scss';

.input_field{
    width: 100%;
}


.header_login{
    width: 100%;
    text-align: center;
}

.boton_crear{
    background-color: $menuDigital-secondary;
    color: white;
    width: 100%;
}