<app-actions-header [showReturn]=true (closeEvent)="closeListPropiedadEvent()" (returnEvent)="returnListPropiedadPressed()"></app-actions-header>
<app-dialog-header [titulo]="tituloHeader" [subtitulo]="subtituloHeader"></app-dialog-header>
<app-nueva-propiedad [tituloNuevaPropiedad]="tituloNuevaPropiedad" (nuevaPropiedadEvent)="nuevaPropiedadCall()"></app-nueva-propiedad>
<app-expansion-helper [tipo]="tipo" [titulo]="expansionTitulo" [arrayTamanos]="arrayTamano"></app-expansion-helper>
<button mat-raised-button  class="boton_siguiente" (click)="boton_siguiente()">Siguiente<mat-icon class="icon_next">arrow_forward_ios</mat-icon></button>
   

