<button class="close" mat-button (click)="onNoClick()">X</button>
    <h2>Crear un nuevo Item en tu MenuDigital</h2>
        <mat-card>
            <mat-card-content>
                <h3>1. Querés destacar este Menú Item como una PROMOCION con descuento en tu MenuDigital ?</h3>
                <mat-radio-group fxLayout="column" fxLayoutGap="10px" (change)="onPromoChange($event)" aria-label="">
                    <mat-radio-button fxFlex value="1">Si</mat-radio-button>
                    <mat-radio-button fxFlex value="0">No</mat-radio-button>
                </mat-radio-group>
            </mat-card-content>    
            
            <ng-container *ngIf="stepTwo && isPromo">
                <ng-container  *ngTemplateOutlet="promoTemplate"></ng-container>
            
            </ng-container>
            <ng-container *ngIf="stepTwo && (!isPromo)">
                <ng-container *ngTemplateOutlet="noPromoTemplate"></ng-container>
            </ng-container>

            <ng-template  #promoTemplate>
                <mat-card-content>
                    <form [formGroup]="formGroupPromo" (ngSubmit)="onSubmitPromo()" autocomplete="off">
                        <h4>Datos de la PROMO</h4>
                        <img mat-card-image style="width: 50%; height: 50%;" src="{{imagePromoURL}}">
                         <mat-card-content>
                            <button mat-fab  matTooltip="Sube la foto de esta PROMO" type="button" color="primary" (click)="openInputPromoFoto($event)">
                                <mat-icon>backup</mat-icon>
                            </button>
                            <input  hidden id="fileInput-promoFoto" type="file" name="imagen" accept="images/*" (change)="showPreviewPromo($event)">
                        </mat-card-content>
                        <div fxLayout="row" fxLayoutGap="30px">
                            <mat-form-field fxFlex="80%">
                                <mat-label>Nombre de esta Promo</mat-label>
                                <input formControlName="nombre" matInput>
                                <mat-hint>Dele un nombre a esta Promo para poder darle seguimiento, ejemplo 2x1 Pizza Grande</mat-hint>
                            </mat-form-field>
                            <!--mat-icon fxFlex="20%" aria-hidden="false" aria-label="Example home icon">help</mat-icon--> 
                        </div> 
                        <div fxLayout="row" fxLayoutGap="30px">
                            <mat-form-field fxFlex="80%">
                                <mat-label>Descripción de la Promo</mat-label>
                                <textarea formControlName="descripcion" matInput></textarea>
                                <mat-hint>Esta es la descripción que verá tu cliente para comprar esta Promo¡</mat-hint>
                            </mat-form-field>
                            <!--mat-icon fxFlex="20%" aria-hidden="false" aria-label="Example home icon">help</mat-icon--> 
                        </div>    
                        <div fxLayout="row" fxLayoutGap="30px">
                            <mat-form-field fxFlex="80%">
                                <mat-label>Precio Anterior</mat-label>
                                <input matInput type="text" (focusout)="formatPrecioAnterior()" formControlName="precioAnterior">
                                <span matPrefix>&#8370;</span>
                                <mat-hint>Cúal era el precio que tenía anteriormente este producto o productos?</mat-hint>
                            </mat-form-field>
                            <!--mat-icon fxFlex="20%" aria-hidden="false" aria-label="Example home icon">help</mat-icon--> 
                        </div>    
                        <div fxLayout="row" fxLayoutGap="30px">
                            <mat-form-field fxFlex="80%">
                                <mat-label>Precio Actual</mat-label>
                                <input matInput type="text" (change)="onChangePrecioActual()" formControlName="precioActual">
                                <span matPrefix>&#8370;</span>
                                <mat-hint>Cúal es el precio actual que tiene este producto o productos con esta Promo?</mat-hint>
                            </mat-form-field>
                            <!--mat-icon fxFlex="20%" aria-hidden="false" aria-label="Example home icon">help</mat-icon--> 
                        </div>
                        <div fxLayout="row" fxLayoutGap="30px">
                            <mat-form-field fxFlex="80%">
                                <mat-label>Descuento a mostrar</mat-label>
                                <input matInput formControlName="descuento">
                                <span matPrefix>&#8370;</span>
                                <span matSuffix>%</span>
                                <mat-hint>Este es el descuento que verá tu cliente de la PROMO</mat-hint>
                            </mat-form-field>
                            <!--mat-icon fxFlex="20%" aria-hidden="false" aria-label="Example home icon">help</mat-icon--> 
                        </div>
                        <mat-card-actions>
                            <button mat-raised-button disabled="{{!formGroupPromo.valid}}" color="primary" type="submit">Guardar</button>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </ng-template>

            <ng-template  #noPromoTemplate>
                <mat-card-content>
                    <h3>2. Qué tipo de comida es este Item ?</h3>
                    <mat-radio-group fxLayout="column" fxLayoutGap="10px" (change)="onMenuItemChange($event)" aria-label="">
                        <mat-radio-button fxFlex value="1">Pizza</mat-radio-button>
                        <mat-radio-button fxFlex value="2">Hamburguesa</mat-radio-button>
                        <mat-radio-button fxFlex value="3">Empanada</mat-radio-button>
                        <mat-radio-button fxFlex value="4">Lomito</mat-radio-button>
                    </mat-radio-group>
                </mat-card-content> 
            
                <div class="container" [ngSwitch]="tipoComida">
                    <div *ngSwitchCase="1">
                        <ng-container  *ngTemplateOutlet="pizzaTemplate"></ng-container>
                    </div>
                    <div *ngSwitchCase="2">
                        <ng-container  *ngTemplateOutlet="hamburguesaTemplate"></ng-container>
                    </div>
                    
                </div>
            </ng-template>

            

        </mat-card>
   