@import '../../styles/colors.scss';

.full-width{
    display: block;
    width: 100%;
}

.requiredText{
    text-align: right;
}

app-file-upload{
   
    width: 100%;
   
}

mat-form-field{
    margin-bottom: 16px;
}


.boton_crear{
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    background-color: $menuDigital-secondary;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 24px;
}