<button class="close" mat-button (click)="onNoClick()">X</button>
<div class="container">
    <div class="mat-headline">Nuevo Menú Item</div>
    <div class="mat-h3">Seccion:{{data.seccion.titulo}}</div>
    <div class="heading_icon">
        <div  class="circle_number">1</div>
        <h2 class="mat-headline">Diferentes tamaños</h2>
    </div>
    <div class="mat-h2">Tiene éste Menú-Item diferentes tamaños ?</div>
    <mat-radio-group class="radio_button_group" fxLayout="column">
        <mat-radio-button class="radio_button" value="si">Si</mat-radio-button>
        <mat-radio-button class="radio_button" value="no">No</mat-radio-button>
    </mat-radio-group>

    <ng-template>
        <p>Tamaños disponibles</p>
    </ng-template>
    <div class="mat-subheading-4 heading_icon">
        <a (click)="nuevo_tamano()">
            <mat-icon class="material-icons" aria-hidden="false" aria-label="Icono de add">add_circle_outline</mat-icon>
        
            Nuevo Tamaño
        </a>
    </div>
    <!--app-expansion-helper [$expansionArrayData]="dataForExpansionHelper()"></¡app-expansion-helper-->

</div>
