<div fxLayout="row" fxLayoutAlign="space-between center" class="toolbar">
    <h1 fxFlex="50%" class="toolbar_titulo">MenuDigital de "{{nombrelocal}}"</h1>
    <button mat-icon-button class="toolbar_cartButton" aria-label="Icono del carrito">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    
</div>
<div class="container">
        <div class="categoria" *ngFor="let seccion of secciones$ | async">
            <h2>{{seccion.titulo}}</h2>
            <div fxLayout="row wrap" fxLayoutGap="30px" class="menuitem" >
                <ng-container *ngFor="let menuitem of seccion.menuitems">
                    <mat-card fxFlex="25%" class="mat-elevation-z8">
                        <mat-card-header>
                            <mat-card-title>
                                {{menuitem.nombre | titlecase}}
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="{{menuitem.tamanos[0].fotoUrl ? menuitem.tamanos[0].fotoUrl: imagenAlternativa}}">
                        
                        
                        <mat-card-actions>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="wrapper" fxFlex=50%>
                                    <button class="plusminus" (click)="handleMinus()">-</button>
                                    <input type="number" class="num" [value]="cantidad"  />
                                    <button class="plusminus" (click)="handlePlus()">+</button>
                                </div>
                                <button fxFlex=50% class="button_agregar" (click)="agregar_carrito(menuitem)" mat-raised-button>Agregar</button>
                            </div>    
                              
                        </mat-card-actions>
                    </mat-card>
                </ng-container>    
            </div>
             
        </div>
        
    
</div>
