<!--div class="container"-->
<app-main-nav [sideBarLinks]="sidebarLinks$ | async">
  <div fxLayout="column " fxLayoutGap="50px">
      <div fxFlex *ngFor="let categoria of categorias$ | async">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" color="accent" class="titulo">
              <img fxFlex="10%" mat-card-image src="{{categoria.iconUrl}}">
              <h3 fxFlex="10%" class="mat-h1">{{categoria.label}}</h3>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="30px" >
              <div fxFlex="25%" *ngFor="let menuItem of categoria.menuItems">
                      <app-public-menu-item [menuItem]="menuItem" (personalizacionSelected)="personalizacionSelected($event)"></app-public-menu-item>
              </div>
            </div>  
      </div>
          
  </div>
</app-main-nav>
<!--/div-->  
