@import "src/app/styles/variables";
@import "src/app/styles/colors";


.container{
    padding: 20px;
}
.titulo{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom:0%;
    height: 100%;
    
}