@import '../../../styles/colors.scss';


.container{
    padding: 10px;
    overflow-y: auto;
   
}

.container .categoria mat-card{
    text-align:center; 
    height: 100%;
    min-width: 300px;
}

:host ::ng-deep .mat-card-header-text {
    width: 100%;
    text-align: center; 
}

.detalle_tamano_precio{
    margin-left: 0;
    font-size: 16px;
   
}

.contenido_menuitem{
    margin-top: 20px;
}

.categoria{
    margin-top: 20px;
}

.toolbar_cartButton{
   color: white;
   margin-right: 20px;
}

.toolbar_titulo{
    margin-left: 20px;
    margin-top: 15px;
}


.toolbar{
    height: 10vh;
    background-color: #F44336;
    color: white;
}

.descripcion{
    margin-top: 20px;
    text-align: start;
    height: 50px;
    max-height: 50px;
}

.detalle_tamano_precio{
   text-align: start;
   

}

.seccion_tamanos{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.full-width{
    width: 100%;
}
.dividerclass{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

}
.sabores_container{
    margin-bottom: 20px;
}
.toppings_container{
    margin-bottom: 20px;
}
.toppings{
    display: flex;
    justify-content: flex-start;
}
.toppings_list{
    padding: 0;
    margin: 0;
    width: 100%;
}
mat-card{
    padding: 10px;
    min-width: 320px;
}
mat-card img{
    max-width: 80%;
}
mat-card-content{
    padding: 5px;
}
mat-expansion-panel{
    min-width: 100%;
    padding: 5px;
    
}
mat-expansion-panel-header{
    padding: 10px;
}

mat-accordion{
    padding: 0;
}

.panel-sabores{
    padding: 0;
    width: 100%;
}
.panel-toppings{
    margin-top: 20px;
    width: 100%;
}
//Boton de cantidad y Agregar Item

.wrapper {
    border: 2px #dcd3d3 solid;
    width: 15vw;
    height: 100%;
    padding: 5px;
    display: flex;
    border-radius: 15px;
  }

  input {
    text-align: center;  
    border: 1px solid #6C757D;
  } 

  input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
    }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
.plusminus {
    height: 100%;
    width: 30%;
    margin: 3px;
    background: white;
    border: none;
    font-size: 40px;
    color: #5f5fce;
}

.num {
    height: 100%;
    width: 30%;
    border: none;
    font-size: 40px;
    }

    
.button_agregar{
    height: 100%;
    width: 40%;
    padding: 15px;
    background-color: $corpo_color;
    color: white; 
    font-size: 20px;
}  
////////////////////////////***************//////////////////