@import "src/app/styles/variables";
@import "src/app/styles/colors";



.layout{
    width: 100%;
    
}


.layout-content {
    background-color: $background-color;
    height:calc(100vh - 10px);
    padding: 20px;
  
  }