<app-header [userName$]="getUserName()" (signOutEvent)="signOut()" (menuClick)="toggleSideNav($event)"></app-header>
<mat-sidenav-container color="primary" class="layout">
    <mat-sidenav
        #sideNav
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
        >
        <app-sidebar [sidebarLinks$]="navList$"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="layout-content">
        <ng-content></ng-content>
    </mat-sidenav-content>





</mat-sidenav-container>