.form__input{
    width: 100%;
}
.input_field{
    width: 100%;
}

.form-actions{
    display: flex;
    
    justify-content: space-between;
}

.header_login{
    width: 100%;
    text-align: center;
}

.button_registrarme{
    width: 100%;
}