@import '../../../styles/colors.scss';


.form__input{
    width: 100%;
}
.input_field{
    width: 100%;
}


.header_login{
    width: 100%;
    text-align: center;
}

.boton_ingresar{
    background-color: $menuDigital-secondary;
    color: white;
    width: 203px;
    height: 60px;
    font-size: 24px;
}

.enlace_olvide_clave{
    text-decoration: underline;
    
}