@import '../../../styles/colors.scss';


.form__input{
    width: 100%;
}
.input_field{
    width: 100%;
}

.form-actions{
    
}

.header_login{
    width: 100%;
    text-align: center;
}

.boton_ingresar{
    background-color: $menuDigital-secondary;
    color: white;
}

.enlace_olvide_clave{
    
}