<mat-card class="mat-elevation-z4 card_menuItem" >
    <mat-card-header>
        <mat-card-title>{{menuItem.nombre}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="img_card" class="img_card" src="{{menuItem.imagenUrl}}">
    <mat-card-content>
        <p>
          {{menuItem.descripcion}}
        </p>
    </mat-card-content>
    <mat-card-content fxLayout="row" *ngIf="menuItem.tipo==1">
      <div fxFlex="50%">
        <h3><span>Precio Anterior:</span><span matPrefix>&#8370;</span><span class="precio_anterior">{{menuItem.precioAnterior | number:'':'es-PY'}}</span></h3>
        <h3 class="precio_actual"><span>Precio Actual:</span><span matPrefix>&#8370;</span><span class="precio_anterior"></span>{{menuItem.precioActual | number:'':'es-PY'}}</h3>
      </div>
      <div fxFlex="50%" fxFlexAlign="center">
        <h1><span class="green">-{{menuItem.descuento*100}}%</span></h1>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="menuItem.tipo!=1">
      <h3><span matPrefix>&#8370;</span>{{menuItem.precioActual | number:'':es-PY}}</h3>
    </mat-card-content>
    <mat-card-content class="lista_contenido">
      <mat-list dense>
        <mat-list-item *ngFor="let caracteristica of menuItem.caracteristicas">
            <mat-icon matTooltip={{caracteristica.tooltip}} matListIcon>{{caracteristica.iconName}}</mat-icon>
            <span>{{caracteristica.texto}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <div class="wrapper" fxFlex=50%>
        <button class="plusminus" (click)="handleMinus()">-</button>
        <input type="number" class="num" [value]="cantidad"  />
        <button class="plusminus" (click)="handlePlus()">+</button>
      </div>
      <button fxFlex=50% class="button_agregar" color="accent" (click)="agregar_carrito()" mat-stroked-button>Agregar</button>
    </mat-card-actions> 
    <mat-card-content fxLayout="column"  fxLayoutGap="20px" class="lista_personalizar" *ngIf="menuItem.tipo!=1">
      <h3 fxFlexAlign="center">Podes personalizar tu Pizza:</h3>
      <mat-list dense>
        <mat-list-item *ngFor="let caracteristica of menuItem.opcionesDePersonalizacion">
            <mat-icon matTooltip="{{caracteristica.tooltip}}" matListIcon>{{caracteristica.iconName}}</mat-icon>
            <span>{{caracteristica.texto}}</span>
        </mat-list-item>
      </mat-list>
      <button fxFlexAlign="center" class="personalizar_button" (click)="personalizar(menuItem)" mat-raised-button color="primary">Personalizar</button>
    </mat-card-content> 



</mat-card>