@import '../../styles/colors.scss' ;

.container{
    background-color: $menuDigital-background;
}
.container_mobile{
    height: 56px;
    
}
.mat-icon{
      font-size: 36px;
      vertical-align: middle;
}

.mat-icon-desktop{
    font-size: 56px;
    vertical-align: middle;
}