<app-layout>
  <div class="container">
    <div class="mensaje_feedback">
      <p class="mat-subheading-2 message-full-width" *ngIf="showMessage">{{message}}</p>
    </div>
    <form [formGroup]="localForm" (ngSubmit)="onSubmit()">
   
    <div class="mat-headline">Mi Local Gastronómico</div>
    <br>
    <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre del local:</mat-label>
            <input matInput readonly="false" type="text" (change)="modificarNombre()" (focusout)="verificarMenuDigitalUrl()" formControlName="nombreDelLocal">
            <mat-error *ngIf="localForm.controls['nombreDelLocal'].hasError('required')">
              Nombre del local es<strong>obligatorio</strong>
            </mat-error>
    </mat-form-field>
       
    <mat-form-field appearance="outline" class="full-width">
            <mat-label>RUC:</mat-label>
            <input  readonly="false" type="text" matInput  formControlName="ruc">
            <mat-error *ngIf="localForm.controls['ruc'].hasError('required')">
              RUC es <strong>obligatorio</strong>
            </mat-error>
    </mat-form-field>
       
    <mat-form-field appearance="outline" class="full-width">
            <mat-label>Dirección del local:</mat-label>
            <input readonly="false" type="text" matInput formControlName="direccionDelLocal">
            <mat-error *ngIf="localForm.controls['direccionDelLocal'].hasError('required')">
              La dirección es <strong>obligatoria</strong>
            </mat-error>
    </mat-form-field>
     
    <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre del contacto:</mat-label>
            <input  readonly="false" type="text" matInput formControlName="nombreDelContacto">
            <mat-error *ngIf="localForm.controls['nombreDelContacto'].hasError('required')">
              El nombre del contacto es<strong>obligatorio</strong>
            </mat-error>
    </mat-form-field>
       
    <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email del local:</mat-label>
            <input  readonly="false" type="email" matInput formControlName="emailDelContacto">
            <mat-error *ngIf="localForm.controls['emailDelContacto'].hasError('required')">
              El email del contacto es<strong>obligatorio</strong>
            </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width">
            <mat-label>Celular del contacto:</mat-label>
            <input  readonly="false" type="text" matInput formControlName="celularDelContacto">
            <mat-error *ngIf="localForm.controls['celularDelContacto'].hasError('required')">
              El número de celular del contacto es<strong>obligatorio</strong>
            </mat-error>
    </mat-form-field>
        
    <mat-form-field appearance="outline" class="full-width">
            <mat-label>Dirección web de tu MenuDigital:</mat-label>
            <input  readonly="true" type="text" matInput formControlName="urlMenuDigital">
            
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button disabled="{{!localForm.valid}}" class="boton_guardar" type="submit">Guardar</button>
    </div>
  </form>
</div>

</app-layout>