@import '../../styles/colors.scss';


.full-width {
    width: 80vw;
}

.mat-headline{
  color: #8B8989;
}
  
  .container{
    width: 100%;
    padding: 10px;

  }
  
  

  //Mensaje de comunicación con el cliente
  .mensaje_feedback{
    padding: 0;
    text-align: justify;
    
  }
 
  .message-full-width{
    color: red;
    
   
  }

  .boton_guardar{
    background-color: $menuDigital-secondary;
    color: white;
    width: 203px;
    height: 60px;
    font-size: 24px;
    text-align: center;
  }