@import '../../../../styles/colors.scss';

.imagenMenuItem{
    padding: 0;
}
#idbuttonSubir{
    padding: 0;
}
.boton_guardar{
    width: 100%;
    background-color: $menuDigital-secondary;
    color: white;
}

.form_menuitem{
margin-top: 30px;
}
.full_width{
    width: 100%;
}

.container{
    width: 100%;
    text-align: center;
}

.subir_foto{
    width: 100%;
    margin-bottom: 30px;
}
.mat-headline{
    text-align: center;
}

