<app-layout>
    <div class="mat-headline">Mi MenúDigital</div>
    <div class="mat-subheading-2 heading_icon">
        <a (click)="nueva_seccion()">
            <mat-icon class="material-icons" aria-hidden="false" aria-label="Icono de add">add_circle_outline</mat-icon>
        
            Nueva Sección del Menú
        </a>
    </div>
    <div class="secciones_del_menu">
        <mat-accordion *ngIf="secciones$|async as secciones else sinSecciones">
            <mat-expansion-panel *ngFor="let seccion of secciones" (opened)="true">
                <mat-expansion-panel-header>
                        <mat-panel-title class="mat-h4">
                            {{seccion.titulo}}
                        </mat-panel-title>
                        
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div class="mat-small seccion_descripcion" fxFlexAlign="center">
                            {{seccion.descripcion}}
                        </div>
                        <div>
                            <button mat-icon-button aria-label="Editar seccion"  matTooltip="Editar Seccion">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Eliminar seccion" matTooltip="Eliminar Seccion">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                    </div>
                    <div class="mat-subheading-4 heading_icon">
                        <a (click)="nuevo_item(seccion)">
                            <mat-icon class="material-icons" aria-hidden="false" aria-label="Icono de add">add_circle_outline</mat-icon>
                        
                            Nuevo MenúItem
                        </a>
                    </div>
                </ng-template>    
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <ng-template #sinSecciones>
        <div class="mat-h4">No tiene secciones en su Menú</div>
    </ng-template>
</app-layout>
