@import '../../../styles/colors.scss' ;

.mat-headline{
  color: #8B8989;
}

.heading_icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.material-icons{
  vertical-align: middle;
}

.seccion_descripcion{
  vertical-align: middle;
}