<app-layout>
    <h1 class="secciones_header">Mi MenúDigital</h1>
    <app-nueva-propiedad
    [tituloNuevaPropiedad]="tituloNuevaSeccion" (nuevaPropiedadEvent)="nueva_seccion()">

    </app-nueva-propiedad>
    
    <!--div class="secciones_del_menu">
        <mat-accordion *ngIf="secciones$|async as secciones else sinSecciones">
            <mat-expansion-panel *ngFor="let seccion of secciones" (opened)="true">
                <mat-expansion-panel-header>
                                <mat-panel-title class="titulo_seccion">
                                    Sección: {{seccion.titulo}}
                                </mat-panel-title>
                        
                            <div fxHide.lt-md>
                                <mat-panel-description  class="mat-small seccion_descripcion">
                                        {{seccion.descripcion}}
                                    
                                </mat-panel-description>
                            </div>
                            

                        
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="action_seccion" fxShow.lt-md fxLayout="row" fxLayoutAlign="center center">
                        <mat-panel-description fxFlex="60%" class="mat-small">
                                {{seccion.descripcion}}
                            
                        </mat-panel-description>
                        <div fxFlex="40%">
                            <button mat-icon-button aria-label="Editar MenuItem"  matTooltip="Editar Sección">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Eliminar MenuItem" (click)="eliminar_seccion(seccion)" matTooltip="Eliminar Sección">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        
                    </div>
                    
                    <app-nueva-propiedad
                        [tituloNuevaPropiedad]="tituloNuevoMenuItem" (nuevaPropiedadEvent)="nuevo_item(seccion)">
                    
                    </app-nueva-propiedad>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let menuitem of seccion.menuitems" >
                            <mat-expansion-panel-header>
                                <mat-panel-title class="mat-h4">
                                    <div class="titulo_seccion">
                                        {{menuitem.nombre}}
                                    </div>
                                    
                                </mat-panel-title>
                                
                            </mat-expansion-panel-header>
                                <div fxLayout="row" fxLayoutAlign="end">
                                    <button mat-icon-button aria-label="Editar MenuItem"  matTooltip="Editar MenuItem">
                                        <mat-icon>create</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="Eliminar MenuItem" (click)=eliminar_menuitem(menuitem) matTooltip="Eliminar MenuItem">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="menuitem.tamanos.length == 1; else conTamanos">
                                    <div fxLayout="column">
                                        {{menuitem.tamanos[0].descripcion}}
                                        <img src="{{menuitem.tamanos[0].fotoUrl}}" alt="">

                                    </div>
                                </div>
                                <ng-template #conTamanos>
                                    <mat-accordion>
                                        <mat-expansion-panel *ngFor="let tamano of menuitem.tamanos">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="mat-h4">
                                                    {{tamano.nombre}}
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div fxLayout="column">
                                                {{tamano.descripcion}}
                                                <img src="{{tamano.fotoUrl}}" alt="">

                                            </div>     
        
                                                
                                        
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </ng-template>
                                
                                
                            
                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-template>    
            </mat-expansion-panel>
        </mat-accordion>
    </div-->
    <ng-template #sinSecciones>
        <div class="mat-h4">No tiene secciones en su Menú</div>
    </ng-template>
</app-layout>
