@import '../../../styles/colors.scss' ;

.mat-headline{
  color: #8B8989;
  
}

mat-panel-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.heading_icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
mat-icon-button{
  margin-right: 20px;
}

button mat-icon{
  font-size: 48px;
 
}

.action_seccion{
  height: 60px;
}

img{
  width: 250px;
  height: 250px;
}


