/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
@import '@fontsource/libre-franklin';


html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 32px;
  }
} 

html, body { height: 100%; }
body { margin: 0; font-family: libre-franklin, sans-serif; }

.cdk-overlay-pane.my-dialog {
    position: relative!important;
  }
.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
  }

  .btn{
    background-color:whitesmoke;
    width: 100%;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 10%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 60%;
  }
