.mat-tab-label {
  width: 150px;
}

.explicacionPersonalizacion{
  color: red;
}

#promocion{
  text-align: left;
}

.promocionForm{
  margin: 20px 0;
  
}
.row {
  display: flex;
  flex-direction: row;
}
  
.col {
  flex: 1;
  margin-right: 20px;
}

.full-width{
  width: 100%;
}

.datosMenuItemHeader{
  text-align: center;
  margin-top: 12px;
}

.promoFechas{
  margin-bottom: 20px;
}

.encabezadoNuevaPromo{
  text-align: center;
}

.top_actions{
  margin-bottom: 10px;
}

.tamanoTable{
  width: 100%;
}

.imagenMenuItem{
  max-width: 220px;
  max-height: 300px;
  margin-left: 33%;
}


